<div class="page-container">
  <div class="back-button" (click)="goBack()">
    <span class="back-symbol">&#8592;</span>
    <span class="back-text">Voltar</span>
  </div>

  <div class="title-container">
    <img src="assets/icons/user.svg" alt="User Icon" class="page-icon" />
    <h1 class="page-title">Cadastro</h1>
  </div>

  <div class="form-container">
    <form (ngSubmit)="onSubmit()">
      <label for="firstName" class="form-label">Nome</label>
      <input type="text" id="firstName" name="firstName" class="form-input" [(ngModel)]="firstName" [ngClass]="{'error': firstNameError}" required />
      <div *ngIf="firstNameError" class="error-message">{{ firstNameError }}</div>

      <label for="lastName" class="form-label">Sobrenome</label>
      <input type="text" id="lastName" name="lastName" class="form-input" [(ngModel)]="lastName" [ngClass]="{'error': lastNameError}" required />
      <div *ngIf="lastNameError" class="error-message">{{ lastNameError }}</div>

      <label for="email" class="form-label">E-mail</label>
      <input type="email" id="email" name="email" class="form-input" [(ngModel)]="email" [ngClass]="{'error': emailError}" required />
      <div *ngIf="emailError" class="error-message">{{ emailError }}</div>

      <label for="password" class="form-label">Senha</label>
      <input type="password" id="password" name="password" class="form-input" [(ngModel)]="password" [ngClass]="{'error': passwordError}" required />
      <div *ngIf="passwordError" class="error-message">{{ passwordError }}</div>

      <label for="confirmPassword" class="form-label">Confirmar senha</label>
      <input type="password" id="confirmPassword" name="confirmPassword" class="form-input" [(ngModel)]="confirmPassword" [ngClass]="{'error': confirmPasswordError}" required />
      <div *ngIf="confirmPasswordError" class="error-message">{{ confirmPasswordError }}</div>

      <button type="submit" class="submit-button">Cadastrar</button>
    </form>
  </div>

  <div class="register-text">
    Já possui conta? <a href="/login" class="register-link">Entre</a>
  </div>
</div>

<app-alert *ngIf="showAlert" [showAlert]="showAlert" [alertMessage]="alertMessage" (close)="closeAlert()">
</app-alert>