* {
    font-family: 'Futura Condensed Medium', sans-serif;
  }
  
  .page-container {
    text-align: center;
    padding: 10px;
  }
  
  .back-button {
    display: flex;
    align-items: center;
    color: #a02931;
    cursor: pointer;
  }
  
  .back-symbol {
    font-size: 24px;
  }
  
  .back-text {
    font-size: 23px;
    text-decoration: underline;
    margin-left: 5px;
  }
  
  .title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .page-icon {
    width: 40px;
    filter: drop-shadow(0.7px 0.7px 0px black);
  }
  
  .page-title {
    color: #a02931;
    font-size: 35px;
    margin-left: 10px;
    filter: drop-shadow(0.5px 0.5px 0px black);
  }
  
  .form-container {
    margin-top: 20px;
    padding: 0 17px;
  }
  
  .form-label {
    display: block;
    color: #a02931;
    font-size: 25px;
    margin-bottom: 5px;
    text-align: left;
    margin-left: 17px;
  }
  
  .form-input,
  .form-textarea {
    width: 100%;
    max-width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    background-color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
  }
  
  .form-textarea {
    height: 150px;
    resize: none;
  }
  
  .submit-button {
    background-color: #873f36;
    color: #e3dfc6;
    padding: 7px 13px;
    font-size: 26px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 5px;
    margin-bottom: 45px;
    filter: drop-shadow(1.4px 1.4px 0px black);
  }
  
  .whatsapp-button-container {
    margin-top: 17px;
    text-align: center;
  }
  
  .whatsapp-button {
    display: inline-flex;
    align-items: center;
    background-color: #4b6e3e;
    border-radius: 8px;
    padding: 5px 10px;
    filter: drop-shadow(0.3px 0.3px 0px black);
    justify-content: center;
  }
  
  .whatsapp-icon {
    width: 30px;
    margin-right: 5px;
  }
  
  .whatsapp-text {
    font-size: 23px;
    color: #e3dfc6;
  }
  
  .submit-button {
    justify-content: center;
  }
  