.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #d5c3b7;
  padding: 10px;
  position: relative;
}

.left-icons,
.right-icons {
  display: flex;
  gap: 10px;
}

.center-icon {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar img {
  width: 40px;
  height: auto;
  cursor: pointer;
}

.navbar img[alt="Logo"] {
  width: 96px;
}

.cart-container {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #873f36;
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
