<div class="navbar">
    <div class="left-icons">
      <img src="assets/icons/infomenu.svg" alt="Info" (click)="navigateTo('/info')">
      <img src="assets/icons/message.svg" alt="Contact" (click)="navigateTo('/contato')">
    </div>
    
    <div class="center-icon">
      <img src="assets/icons/viacupcakelogo.svg" alt="Logo" (click)="navigateTo('/')">
    </div>
  
    <div class="right-icons">
      <img src="assets/icons/orders.svg" alt="Orders" (click)="navigateTo('/pedidos')">
      <img src="assets/icons/user.svg" alt="Login" (click)="navigateTo('/login')">
      <img src="assets/icons/cart.svg" alt="Cart" (click)="navigateTo('/carrinho')">
    </div>
</div>
