<body>
  <div class="background-container"></div>
  <div class="head-container">
    <div class="back-button" (click)="goBack()">
      <span class="back-symbol">&#8592;</span>
      <span class="back-text">Voltar</span>
    </div>
    <div class="title-container">
      <img src="assets/icons/orders.svg" alt="Orders Icon" class="page-icon" />
      <h1 class="page-title">Meus Pedidos</h1>
    </div>
  </div>
  <div>
    <div *ngIf="orders.length === 0" class="no-orders-message">
      <p>Você ainda não possui pedidos.</p>
    </div>
    <div class="orders-container" *ngIf="orders.length > 0">
      <div class="order-card" *ngFor="let order of orders">
        <div class="order-header">
          <div class="order-number">
            <p>PEDIDO N° {{ order.numero }}</p>
          </div>
          <div class="order-date">
            <p class="order-date-label">Data: </p>
            <p class="order-date-number">{{ order.date | date: 'dd/MM/yyyy' }}</p>
          </div>
        </div>
        <div class="order-content">
          <div class="order-details">
            <div class="order-info">
              <p><span class="label">Método de pagamento:</span></p>
              <p>{{ order.selectedPaymentMethod === 'pix' ? 'PIX' : 'Cartão de crédito' }}</p>
              <p><span class="receipt-link">Ver recibo</span></p>
            </div>
            <div class="order-delivery">
              <p><span class="label">Entrega:</span> 
                {{ order.deliveryMethod === 'retirar' ? 'Retirada na loja' : order.endereco }}
              </p>
              <p *ngIf="order.deliveryMethod === 'receber' && order.complemento">{{ order.complemento }}</p>
            </div>
          </div>
          <div class="order-status-indicator">
            <div class="circleupdate">
              <img src="assets/icons/checkmark.svg" class="icon">
            </div>
            <div class="line"></div>
            <div class="circle"></div>
            <div class="line"></div>
            <div class="circle"></div>
            <div class="line"></div>
            <div class="circle"></div>
          </div>
          <div class="order-status">
            <div>
              <p>Pedido recebido</p>
            </div>
            <div>
              <p>Em preparação</p>
            </div>
            <div>
              <p>{{ order.deliveryMethod === 'receber' ? 'Em trânsito' : 'Pronto para retirada' }}</p>
            </div>
            <div>
              <p>Concluído</p>
            </div>
          </div>
        </div>
        <div class="order-items">
          <p *ngFor="let item of order.itensCompra">
            <span class="item-quantity">{{ item.quantidade }}x</span>
            <span class="item-name">Cupcake {{ item.titulo }}</span>
            <span class="dotted-line"></span>
            <span class="item-price">R$ {{ item.preco * item.quantidade | number:'1.2-2' }}</span>
          </p>
        </div>
        <div class="order-total">
          <p class="subtotal" *ngIf="order.deliveryMethod === 'receber'">Subtotal: R$ {{ order.subtotal | number:'1.2-2' }}</p>
          <p class="delivery-fee" *ngIf="order.deliveryMethod === 'receber'">Taxa de entrega: R$ 11,90</p>
          <p class="total">Total: R$ {{ order.total | number:'1.2-2' }}</p>
        </div>
      </div>
    </div>
  </div>
</body>