<div class="background-container"></div>
<div class="head-container">
    <div class="back-button" (click)="goBack()">
        <span class="back-symbol">&#8592;</span>
        <span class="back-text">Voltar</span>
    </div>
    <h2 class="orders-title">Pedido:</h2>
    <ng-container *ngFor="let item of itensCompra">
        <div class="order-item">
            <div class="flavor-quantity">{{ item.quantidade }}x</div>
            <div class="flavor-image">
                <img [src]="item.imagem" alt="{{ item.titulo }}">
            </div>
            <div class="flavor-title">
                <ng-container *ngFor="let line of getFormattedTitle(item.titulo)">
                  <div>{{ line }}</div>
                </ng-container>
              </div>
              <div class="dotted-line"></div>
              <div class="item-price">R$ {{ item.preco * item.quantidade | number:'1.2-2' }}</div>
        </div>
    </ng-container>
    <div class="order-summary">
        <div *ngIf="deliveryMethod === 'receber'" class="subtotal">Subtotal: R$ {{ subtotal | number:'1.2-2' }}</div>
        <div class="delivery">
          <div class="delivery-label">Entrega:</div>
          <div class="delivery-address">
            <div *ngIf="deliveryMethod === 'receber'">{{ endereco }}</div>
            <div *ngIf="deliveryMethod !== 'receber'">Retirada na loja</div>
            <div *ngIf="deliveryMethod === 'receber' && complemento">{{ complemento }}</div>
          </div>
        </div>
        <div *ngIf="deliveryMethod === 'receber'" class="delivery-fee">Taxa de entrega: R$ 11,90</div>
        <div class="total">Total: R$ {{ total | number:'1.2-2' }}</div>
      </div>
    <h2 class="orders-title">Método de pagamento:</h2>
    <div class="payment-method-card" [ngClass]="{'selected': selectedPaymentMethod === 'pix'}"
        (click)="selecionarFormaDePagamento('pix')">
        <div class="radio-label-container">
            <input type="radio" id="pix" name="delivery" value="pix" class="payment-radio"
                (click)="selecionarFormaDePagamento('pix')">
            <label for="pix">Pix</label>
        </div>
    </div>
    <div class="payment-method-card" [ngClass]="{'selected': selectedPaymentMethod === 'credit'}"
        (click)="selecionarFormaDePagamento('credit')">
        <div class="radio-label-container">
            <input type="radio" id="credit" name="delivery" value="credit" class="payment-radio"
                (click)="selecionarFormaDePagamento('credit')">
            <label for="credit">Cartão de crédito</label>
        </div>
        <div *ngIf="selectedPaymentMethod === 'credit'" class="credit-cart-form">
            <div class="form-row">
                <div class="form-group numero-cartao">
                    <label for="numero-cartao">Número do cartão</label>
                    <input type="text" id="numero-cartao" name="numero-cartao" class="credit-cart-form-input">
                </div>
                <div class="form-group data-vencimento">
                    <label for="data-vencimento">Data de vencimento</label>
                    <input type="text" id="data-vencimento" name="data-vencimento" class="credit-cart-form-input">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group nome-cartao">
                    <label for="nome-cartao">Nome impresso no cartão</label>
                    <input type="text" id="nome-cartao" name="nome-cartao" class="credit-cart-form-input">
                </div>
                <div class="form-group cvv">
                    <label for="cvv">CVV</label>
                    <input type="text" id="cvv" name="cvv" class="credit-cart-form-input">
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="mensagemErro" class="error-message" id="errorMessage">{{ mensagemErro }}</div>
    <button type="submit" class="finalize-button" (click)="finalizarPedido()">Finalizar pedido</button>

<app-alert 
  *ngIf="showAlert" 
  [showAlert]="showAlert" 
  [alertMessage]="alertMessage" 
  (close)="closeAlert()">
</app-alert>