* {
  font-family: 'Futura Condensed Medium', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  overflow-y: scroll;
}

.head-container {
  text-align: center;
  padding: 10px;
}

.background-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #d5c3b7, #7baabe);
  z-index: -1;
}

.back-button {
  display: flex;
  align-items: center;
  color: #a02931;
  cursor: pointer;
}

.back-symbol {
  font-size: 24px;
}

.back-text {
  font-size: 23px;
  text-decoration: underline;
  margin-left: 5px;
}

.orders-title {
  font-family: 'Futura Condensed Medium', sans-serif;
  font-size: 30px;
  color: #a02931;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 20px;
  filter: drop-shadow(0.2px 0.2px 0px black);
}

.order-item {
  display: flex;
  align-items: center;
  margin-top: -10px;
}

.flavor-quantity {
  flex: 0 0 auto;
  text-align: left;
  font-size: 21px;
  margin-left: 5px;
}

.flavor-image {
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: -10px;
  transform: translateY(-10px);
}

.flavor-image img {
  max-height: 70px;
}

.flavor-title {
  flex: 0 0 auto;
  text-align: left;
  font-size: 21px;
  color: #873f36;
  margin-left: -8px;
}

.dotted-line {
  flex-grow: 1;
  border-bottom: 2px dotted black;
  transform: translateY(350%);
  width: auto;
}

.item-price {
  flex: 0 0 auto;
  text-align: right;
  font-size: 21px;
  color: black;
  margin-right: 5px;
}

.order-summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: -5px;
  margin-right: -5px;
}

.subtotal {
  font-size: 24px;
  text-align: right;
  margin-bottom: 10px;
  margin-top: -6px;
}

.delivery {
  display: flex;
  margin-bottom: 10px;
}

.delivery-label {
  flex: 1;
  color: #873f36;
  font-size: 21px;
  text-align: right;
  margin-right: 10px;
}

.delivery-address {
  flex: 4;
  color: black;
  font-size: 21px;
  text-align: left;
  margin-right: 20px;
}

.delivery-fee {
  font-size: 21px;
  text-align: right;
  margin-top: -8px;
  margin-bottom: 3px;
}

.total {
  font-size: 27px;
  text-align: right;
  text-decoration: underline;
  margin-bottom: 10px;
}

.payment-method-card {
  font-family: 'Futura Condensed Medium', sans-serif;
  font-size: 27px;
}

.payment-method-card {
  font-family: 'Futura Condensed Medium', sans-serif;
  font-size: 27px;
  color: black;
  display: flex;
  flex-direction: column;
  width: 100%;
  border: 3px solid #d5ae79;
  border-radius: 12px;
  position: relative;
  background-color: transparent;
  box-shadow: 2px 2px 0px #c1945c;
  padding: 6px;
  margin-bottom: 8px;
}

.payment-method-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: -2px;
  bottom: -2px;
  border: 2px solid #c1945c;
  border-radius: 12px;
  z-index: -1;
}

.payment-method-card.selected {
  border-color: #f3cb97;
}

.radio-label-container {
  display: flex;
  align-items: center;
}

.payment-radio {
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  margin-right: 8px;
  margin-left: 4px;
  background-color: #e3dfc6;
}

.payment-radio:checked::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 12px;
  height: 12px;
  background-color: #4a87a1;
  border-radius: 50%;
}

.credit-cart-form {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
}

.credit-cart-form label {
  font-family: 'Futura Condensed Medium', sans-serif;
  font-size: 21px;
  color: black;
  text-align: left;
  display: block;
}

.credit-cart-form-input {
  font-family: 'Futura Condensed Medium', sans-serif;
  font-size: 22px;
  padding: 6px;
  margin-bottom: 8px;
  border: 2px solid #d5ae79;
  border-radius: 6px;
  box-shadow: 1px 1px 0px #c1945c;
  width: 100%;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  flex: 1;
  margin-right: 10px;
}

.credit-cart-form .form-group {
  margin-right: 5px;
}

.credit-cart-form .form-group:last-child {
  margin-right: 0;
}

.form-group:last-child {
  margin-right: 0;
}

.numero-cartao {
  flex: 3;
}

.data-vencimento {
  flex: 2;
}

.nome-cartao {
  flex: 5;
}

.cvv {
  flex: 1;
}

.finalize-button {
  font-family: 'Futura Condensed Medium', sans-serif;
  background-color: #873f36;
  color: #e3dfc6;
  padding: 5px 17px;
  font-size: 27px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  flex: 1;
  filter: drop-shadow(1.4px 1.4px 0px black);
  margin-top: 8px;
  margin-bottom: 16px;
}